* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

.container {
  width: 375px;
  margin: 0 auto;
}

img {
  width: 100%;
}

#text-content {
  padding: 40px 32px 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

h1 {
  font-family: "Young Serif", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  color: var(--stone-900);
  padding-bottom: 24px;
}

#subtitle {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--stone-600);
}

#preparation {
  background: var(--rose-50);
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  font-family: "Outfit", sans-serif;
}

#prep-title {
  color: var(--rose-800);
  font-size: 20px;
  font-weight: 600;
}

#prep-list {
  width: 223px;
}

#instructions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 24px;
  font-family: "Outfit", sans-serif;
}

ul li {
  color: var(--stone-600);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  list-style-position: outside;
  overflow-wrap: break-word;
}

ul li span {
  position: relative;
  left: 16px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

ol li {
  color: var(--stone-600);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  list-style-position: outside;
  overflow-wrap: break-word;
}

ol > li::marker {
  font-weight: bold;
}

ol li span {
  position: relative;
  left: 16px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

h2 {
  font-family: "Young Serif", serif;
  color: var(--brown-800);
  font-weight: 400;
  font-size: 28px;
}

#ingredients {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

hr {
  border: 1px solid var(--stone-150);
}

#nutrition {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#nutrition > p {
  font: 16px "Outfit", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

table {
  width: 100%;
  border-collapse: collapse;
  font: 16px "Outfit", sans-serif;
  line-height: 150%;
}

td {
  padding: 12px 32px 12px 32px;
  border-bottom: 1px solid var(--stone-150);
}

td:first-child {
  text-align: left;
}

.value {
  color: var(--brown-800);
  font-weight: 700;
}

tbody tr:first-child td {
  padding-top: 0;
}

tbody tr:last-child td {
  padding-bottom: 0;
  border-bottom: none;
}

.attribution {
  font-family: "Outfit", sans-serif;
  font-size: 11px;
  text-align: center;
  padding-top: 16px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
  body {
    margin: 128px auto;
    background: var(--stone-100);
  }

  .container {
    background: white;
    width: 736px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 24px;
  }

  img {
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: 300px;
    border-radius: 12px;
    position: relative;
    object-fit: cover;
  }

  #text-content {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  #preparation {
    gap: 12px;
  }

  #prep-list {
    width: 608px;
  }

  .attribution {
    font-size: 16px;
  }

  ol li {
    width: 616px;
  }
}
